# PHASE 1

**Data Collection and Preparation Part**

* **I have done webscrapping by using selenium. The link or the url is mention belowed from which site i have scrapped the data**
* **First i have scrapped the data of the population of each state, since the government is doing census after every 10 years it was not possible to find the data from 2001 to 2012 but i have found the data for year 2001 and 2011.**
* **I have saved the data in excel file**

# 1.The population of each state.

In [1]:
#importing libraries
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import re

In [2]:
#Connecting to the driver
driver=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

#Maximizing the automated
driver.maximize_window()

#opening the wikipedia website on automated chrome window
url=' https://en.wikipedia.org/wiki/List_of_states_in_India_by_past_population'
driver.get(url)

In [3]:
#Extracting the names of states/UT
States_UT=[]
try:
    States_UT_tag=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr/td[2]/a')
    for i in States_UT_tag:
        States_UT.append(i.text)
except NoSuchElementException : #handling no such element exception
    States_UT.append('-')

In [4]:
#printing len
len(States_UT)

36

In [5]:
#displaying states/UT
States_UT

['Andaman and Nicobar Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Dadra and Nagar Haveli',
 'Daman and Diu',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telangana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal']

In [6]:
#Extracting the names of population 2001
population_2001=[]
try:
    population_2001_tag=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr/td[8]')
    for i in population_2001_tag:
        population_2001.append(i.text)
except NoSuchElementException : #handling no such element exception
    population_2001.append('-')

In [7]:
#printing len
len(population_2001)

36

In [8]:
#displaying population_2001
population_2001[:36]

['356,650',
 '75,728,400',
 '1,098,328',
 '26,638,600',
 '82,879,910',
 '901,080',
 '20,834,530',
 '220,963',
 '158,080',
 '13,851,503',
 '1,348,900',
 '50,597,200',
 '21,083,900',
 '6,077,453',
 '10,070,300',
 '26,946,070',
 '52,734,986',
 '31,839,000',
 '61,300',
 '60,385,090',
 '96,752,500',
 '2,294,480',
 '2,306,540',
 '889,690',
 '1,990,275',
 '36,707,900',
 '974,820',
 '24,289,130',
 '56,473,300',
 '541,902',
 '62,111,390',
 'N/A',
 '3,191,880',
 '166,053,600',
 '8,489,100',
 '80,221,300']

In [9]:
#Extracting the names of population 2011
population_2011=[]
try:
    population_2011_tag=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr/td[9]')
    for i in population_2011_tag:
        population_2011.append(i.text)
except NoSuchElementException : #handling no such element exception
    population_2011.append('-')

In [10]:
#printing len
len(population_2011)

36

In [11]:
#displaying population_2011
population_2011[:36]

['379,944',
 '49,386,799',
 '1,382,611',
 '31,169,272',
 '103,804,630',
 '1,054,686',
 '25,540,196',
 '342,853',
 '242,911',
 '16,753,235',
 '1,457,723',
 '60,383,628',
 '25,753,081',
 '6,856,509',
 '12,548,926',
 '32,988,134',
 '61,130,704',
 '33,387,677',
 '64,429',
 '72,597,565',
 '112,372,972',
 '2,721,756',
 '2,964,007',
 '1,091,014',
 '1,980,602',
 '41,947,358',
 '1,244,464',
 '27,704,236',
 '68,621,012',
 '607,688',
 '72,138,958',
 '35,193,978',
 '3,671,032',
 '199,581,477',
 '10,116,752',
 '91,347,736']

In [12]:
#Making DataFrame
Population_of_each_state=pd.DataFrame()
Population_of_each_state['State/UT']=States_UT
Population_of_each_state['Population(2001)']=population_2001
Population_of_each_state['Population(2011)']=population_2011
Population_of_each_state

                       State/UT Population(2001) Population(2011)
0   Andaman and Nicobar Islands          356,650          379,944
1                Andhra Pradesh       75,728,400       49,386,799
2             Arunachal Pradesh        1,098,328        1,382,611
3                         Assam       26,638,600       31,169,272
4                         Bihar       82,879,910      103,804,630
5                    Chandigarh          901,080        1,054,686
6                  Chhattisgarh       20,834,530       25,540,196
7        Dadra and Nagar Haveli          220,963          342,853
8                 Daman and Diu          158,080          242,911
9                         Delhi       13,851,503       16,753,235
10                          Goa        1,348,900        1,457,723
11                      Gujarat       50,597,200       60,383,628
12                      Haryana       21,083,900       25,753,081
13             Himachal Pradesh        6,077,453        6,856,509
14            Jammu and Kashmir       10,070,300       12,548,926
15                    Jharkhand       26,946,070       32,988,134
16                    Karnataka       52,734,986       61,130,704
17                       Kerala       31,839,000       33,387,677
18                  Lakshadweep           61,300           64,429
19               Madhya Pradesh       60,385,090       72,597,565
20                  Maharashtra       96,752,500      112,372,972
21                      Manipur        2,294,480        2,721,756
22                    Meghalaya        2,306,540        2,964,007
23                      Mizoram          889,690        1,091,014
24                     Nagaland        1,990,275        1,980,602
25                       Odisha       36,707,900       41,947,358
26                   Puducherry          974,820        1,244,464
27                       Punjab       24,289,130       27,704,236
28                    Rajasthan       56,473,300       68,621,012
29                       Sikkim          541,902          607,688
30                   Tamil Nadu       62,111,390       72,138,958
31                    Telangana              N/A       35,193,978
32                      Tripura        3,191,880        3,671,032
33                Uttar Pradesh      166,053,600      199,581,477
34                  Uttarakhand        8,489,100       10,116,752
35                  West Bengal       80,221,300       91,347,736

In [13]:
#Saving file to csv
Population_of_each_state.to_excel('Population.xlsx')

* **After that i have scrapped the data of literacy rate for each state which again i was able to find out for year 2001 and 2011 as the government do censur after every 10 years**
* **Than after scrapping the data i have saved the data in excel format.**

# 2.Literacy Rate in each state

In [14]:
#Connecting to the driver
driver=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

#Maximizing the automated
driver.maximize_window()

#opening the wikipedia website on automated chrome window
url=' https://en.wikipedia.org/wiki/List_of_Indian_states_and_union_territories_by_literacy_rate'
driver.get(url)

In [15]:
#Extracting the names of states/UT literacy
States_UT_literacy=[]
try:
    States_UT_literacy_tag=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[3]/tbody/tr/td[1]/a')
    for i in States_UT_literacy_tag:
        States_UT_literacy.append(i.text)
except NoSuchElementException : #handling no such element exception
    States_UT_literacy.append('-')

In [16]:
#printing len
len(States_UT_literacy)

35

In [17]:
#displaying States_UT_literacy
States_UT_literacy

['A&N islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Dadra and Nagar Haveli',
 'Daman and Diu',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal']

In [18]:
#Extracting the names of literacy rate 2001
literacy_rate_2001=[]
try:
    literacy_rate_2001_tag=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[3]/tbody/tr/td[7]')
    for i in literacy_rate_2001_tag:
        literacy_rate_2001.append(i.text)
except NoSuchElementException : #handling no such element exception
    literacy_rate_2001.append('-')

In [19]:
#printing len
len(literacy_rate_2001)

35

In [20]:
#displaying literact rate 2001
literacy_rate_2001

['81.30',
 '60.47',
 '54.34',
 '63.25',
 '47.00',
 '81.94',
 '64.66',
 '57.63',
 '78.18',
 '81.67',
 '82.01',
 '69.14',
 '67.91',
 '76.48',
 '55.52',
 '53.56',
 '66.06',
 '90.86',
 '86.66',
 '63.74',
 '76.84',
 '70.50',
 '62.56',
 '88.80',
 '66.59',
 '63.08',
 '81.24',
 '69.65',
 '60.41',
 '68.81',
 '73.45',
 '73.19',
 '56.27',
 '71.62',
 '68.64']

In [21]:
#Extracting the names of literacy rate 2011
literacy_rate_2011=[]
try:
    literacy_rate_2011_tag=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[3]/tbody/tr/td[8]')
    for i in literacy_rate_2011_tag:
        literacy_rate_2011.append(i.text)
except NoSuchElementException : #handling no such element exception
    literacy_rate_2011.append('-')

In [22]:
#printing len
len(literacy_rate_2011)

35

In [23]:
#displaying literact rate 2011
literacy_rate_2011

['86.27',
 '67.66',
 '66.95',
 '73.45',
 '61.82',
 '86.43',
 '71.04',
 '77.65',
 '87.07',
 '86.34',
 '87.40',
 '79.31',
 '76.64',
 '83.78',
 '68.74',
 '67.63',
 '75.60',
 '93.91',
 '92.28',
 '70.63',
 '82.34',
 '79.85',
 '75.48',
 '91.58',
 '80.11',
 '73.45',
 '86.55',
 '76.68',
 '67.06',
 '82.20',
 '80.33',
 '87.75',
 '69.72',
 '79.63',
 '77.08']

In [24]:
#Making DataFrame
Literacy_rate_of_each_state=pd.DataFrame()
Literacy_rate_of_each_state['State/UT']=States_UT_literacy
Literacy_rate_of_each_state['Literacy Rate(2001)']=literacy_rate_2001
Literacy_rate_of_each_state['Literacy Rate(2011)']=literacy_rate_2011
Literacy_rate_of_each_state

                  State/UT Literacy Rate(2001) Literacy Rate(2011)
0              A&N islands               81.30               86.27
1           Andhra Pradesh               60.47               67.66
2        Arunachal Pradesh               54.34               66.95
3                    Assam               63.25               73.45
4                    Bihar               47.00               61.82
5               Chandigarh               81.94               86.43
6             Chhattisgarh               64.66               71.04
7   Dadra and Nagar Haveli               57.63               77.65
8            Daman and Diu               78.18               87.07
9                    Delhi               81.67               86.34
10                     Goa               82.01               87.40
11                 Gujarat               69.14               79.31
12                 Haryana               67.91               76.64
13        Himachal Pradesh               76.48               83.78
14       Jammu and Kashmir               55.52               68.74
15               Jharkhand               53.56               67.63
16               Karnataka               66.06               75.60
17                  Kerala               90.86               93.91
18             Lakshadweep               86.66               92.28
19          Madhya Pradesh               63.74               70.63
20             Maharashtra               76.84               82.34
21                 Manipur               70.50               79.85
22                Meghalya               62.56               75.48
23                 Mizoram               88.80               91.58
24                Nagaland               66.59               80.11
25                  Odisha               63.08               73.45
26              Puducherry               81.24               86.55
27                  Punjab               69.65               76.68
28               Rajasthan               60.41               67.06
29                  Sikkim               68.81               82.20
30              Tamil Nadu               73.45               80.33
31                 Tripura               73.19               87.75
32           Uttar Pradesh               56.27               69.72
33             Uttarakhand               71.62               79.63
34             West Bengal               68.64               77.08

In [25]:
#Saving file to csv
Literacy_rate_of_each_state.to_excel('Literacy_Rate.xlsx')

* **And lastly i have scrapped the data of area of each state, and i was only abvle to scrap the data of year 2011 as i was not able to found the data for year 2001. After doing intensive research i found a pdf on official website of census where i found the data of area for year 2001**
* **So after scrapping the data i have saved the file in excel format and than i have inserted the values of year 2001 manually in excel**

# 3.Area of each state

In [26]:
#Connecting to the driver
driver=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

#Maximizing the automated
driver.maximize_window()

#opening the wikipedia website on automated chrome window
url=' https://en.wikipedia.org/wiki/List_of_states_and_union_territories_of_India_by_area'
driver.get(url)

In [27]:
#Extracting the names of states/UT area
States_UT_area=[]
try:
    States_UT_area_tag=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]/tbody/tr/td[2]/a')
    for i in States_UT_area_tag:
        States_UT_area.append(i.text)
except NoSuchElementException : #handling no such element exception
    States_UT_area.append('-')

In [28]:
#printing len
len(States_UT_area)

36

In [29]:
#displaying States_UT_area
States_UT_area

['Rajasthan',
 'Madhya Pradesh',
 'Maharashtra',
 'Uttar Pradesh',
 'Gujarat',
 'Karnataka',
 'Andhra Pradesh',
 'Odisha',
 'Chhattisgarh',
 'Tamil Nadu',
 'Telangana',
 'Bihar',
 'West Bengal',
 'Arunachal Pradesh',
 'Jharkhand',
 'Assam',
 'Ladakh',
 'Himachal Pradesh',
 'Uttarakhand',
 'Punjab',
 'Haryana',
 'Jammu and Kashmir',
 'Kerala',
 'Meghalaya',
 'Manipur',
 'Mizoram',
 'Nagaland',
 'Tripura',
 'Andaman and Nicobar Islands',
 'Sikkim',
 'Goa',
 'Delhi',
 'Dadra and Nagar Haveli and Daman and Diu',
 'Puducherry',
 'Chandigarh',
 'Lakshadweep']

In [30]:
#Extracting the names of area 2011
area_2011=[]
try:
    area_2011_tag=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]/tbody/tr/td[3]')
    for i in area_2011_tag:
        area_2011.append(i.text)
except NoSuchElementException : #handling no such element exception
    area_2011.append('-')

In [31]:
#printing len
len(area_2011)

37

In [32]:
#displaying States_UT_area
area_2011[:36]

['342,239',
 '308,245',
 '307,713',
 '240,928',
 '196,024',
 '191,792',
 '162,975',
 '155,707',
 '135,191',
 '130,058',
 '112,077',
 '94,163',
 '88,752',
 '83,743',
 '79,716',
 '78,438',
 '59,146',
 '55,673',
 '53,483',
 '50,362',
 '44,212',
 '42,241',
 '38,863',
 '22,429',
 '22,327',
 '21,081',
 '16,579',
 '10,486',
 '8,249',
 '7,096',
 '3,702',
 '1,484',
 '603',
 '479',
 '114',
 '32']

In [33]:
#Making DataFrame
area_of_each_state=pd.DataFrame()
area_of_each_state['State/UT']=States_UT_area
area_of_each_state['Area(2011)']=area_2011[:36]
area_of_each_state

                                    State/UT Area(2011)
0                                  Rajasthan    342,239
1                             Madhya Pradesh    308,245
2                                Maharashtra    307,713
3                              Uttar Pradesh    240,928
4                                    Gujarat    196,024
5                                  Karnataka    191,792
6                             Andhra Pradesh    162,975
7                                     Odisha    155,707
8                               Chhattisgarh    135,191
9                                 Tamil Nadu    130,058
10                                 Telangana    112,077
11                                     Bihar     94,163
12                               West Bengal     88,752
13                         Arunachal Pradesh     83,743
14                                 Jharkhand     79,716
15                                     Assam     78,438
16                                    Ladakh     59,146
17                          Himachal Pradesh     55,673
18                               Uttarakhand     53,483
19                                    Punjab     50,362
20                                   Haryana     44,212
21                         Jammu and Kashmir     42,241
22                                    Kerala     38,863
23                                 Meghalaya     22,429
24                                   Manipur     22,327
25                                   Mizoram     21,081
26                                  Nagaland     16,579
27                                   Tripura     10,486
28               Andaman and Nicobar Islands      8,249
29                                    Sikkim      7,096
30                                       Goa      3,702
31                                     Delhi      1,484
32  Dadra and Nagar Haveli and Daman and Diu        603
33                                Puducherry        479
34                                Chandigarh        114
35                               Lakshadweep         32

In [34]:
#Saving file to csv
area_of_each_state.to_excel('Area.xlsx')

* **so after collecting all the data of year 2001 and 2011 for poppulation, literacy rate and area of each state, i have manually merged and little bit modified all the data in excel**
* **So this is how it looks**

In [1]:
#importing required libraries
import pandas as pd

In [3]:
#Loading dataset
data=pd.read_excel('Census New.xlsx')
data

             STATE/UT  YEAR  POPULATION  LITERACY RATE    AREA
0      ANDHRA PRADESH  2001    75728400          60.47  275045
1   ARUNACHAL PRADESH  2001     1098328          54.34   83743
2               ASSAM  2001    26638600          63.25   78438
3               BIHAR  2001    82879910          47.00   94163
4        CHHATTISGARH  2001    20834530          64.66  135191
..                ...   ...         ...            ...     ...
65       D & N HAVELI  2011      342853          77.65     491
66        DAMAN & DIU  2011      242911          87.07     111
67           DELHI UT  2011    16753235          86.34    1484
68        LAKSHADWEEP  2011       64429          92.28      32
69         PUDUCHERRY  2011     1244464          86.55     479

[70 rows x 5 columns]